ActualWidth := 200
ActualHeight := 300
Gui, Add, Picture, w%ActualWidth% h%ActualHeight% Border vpictureControl
Gui, +Resize
Gui, Show
GuiSize:
  dimensions := ScaleToFit(A_GuiWidth, A_GuiHeight, ActualWidth, ActualHeight)
  GuiControl, Move, pictureControl, % "w" dimensions.width " h" dimensions.height " x" dimensions.x " y" dimensions.y
return
GuiClose:
  ExitApp
return