F1:: ; Gui Hotkeys
Gui, Add, ListView, h700 w500, HOTKEY|COMMENT
LV_ModifyCol(1, 125)
LV_ModifyCol(2, 375)
for Index, Element in Hotkeys(Hotkeys)
    LV_Add("",Element.Hotkey, Element.Comment)
    If (Toggle := oggle)
     Gui, Show, x0 y0
    else
     Gui, Destroy
return