;====== Testing area ======
oKey3 := Object("Key`n`n3.1", "value `n`n3.1", "Key3.2", "value 3.2")
oKey4 := Object("Key4.1", "value 4.1",  "Key4.2", Object("Key4.2.1", "value 4.2.1", "Key4.2.2", "value 4.2.2"), "Key4.3", "value 4.3")
oKey5 := Object("Key5.1", "value 5.1", "Key5.2", "value 5.2", "Key5.3", "value 5.3")
oRoot := Object()
oRoot["Key`n`n1"] := "value 1 `n`nThe string to search for. Matching is not case sensitive unless StringCaseSense has been turned on."
oRoot.Key2 := "value 2"
oRoot.Key3 := oKey3
oRoot.Key4 := oKey4
oRoot.Key5 := oKey5
MsgBox,, Exploring Root object, % ExploreObj(oRoot)
MsgBox,, Exploring Root object - 1 level deep, % ExploreObj(oRoot,1)
MsgBox,, Exploring Key4 object, % ExploreObj(oKey4)
MsgBox,, Exploring oRoot.Key4["Key4.2"] object, % ExploreObj(oRoot.Key4["Key4.2"])