#NoEnv
Obj1 := {1: 1, 8: 8, 16: 16}
Obj2 := {Str1: "String1", Str2: String2, Str3: String3}
Obj3 := {1: 1, 8: 8, 16: 16, Str1: "String1", Str2: String2, Str3: String3}
Obj4 := New Dummy
GetNumOfKeys(Obj1)
GetNumOfKeys(Obj2)
GetNumOfKeys(Obj3)
GetNumOfKeys(Obj4)
ExitApp