CoordMode, Mouse
CoordMode, Pixel
KeyWait, LButton, D
MouseGetPos, X, Y
PixelGetColor, color, X, Y
Color |= 0xFF000000
up := (A_PtrSize ? "UPtr" : "UInt")
hDC := DllCall("GetDC", up, 0, up)
hBrushRed := DllCall("CreateSolidBrush", UInt, 0xFFFF0000, up)
DllCall("SelectObject", up, hDC, up, hBrushRed, up)
r := ExtFloodFill(hDC, X, Y, Color, 0)
DllCall("DeleteObject", up, hBrushRed, "int")
DllCall("ReleaseDC", up, 0, up, hDC, "int")
MsgBox % r