NoEnv
SetBatchLines, -1
Menu, File, Add, &Quit, GuiCLose
Menu, MenuBar, Add, &File, :File
Gui, HwndHGUI
Gui, Menu, MenuBar
Gui, Add, Text, , Slider:
Gui, Add, Slider, xp%0 w200 NoTicks ToolTip hwndHSL
Gui, Show, , Test
HideFocusBorder(HGUI)
Return
GuiClose:
ExitApp