;******************************************************************************************
;                       PrintMat
; Sample for print examples
;*******************************************************************************************
PrintMat(VetG, bG = 0, cG = 0) 	{
Local StOut := "", k, v
If IsObject(VetG[1])
	for k, v in VetG {
		for j, w in v
			StOut := StOut . w  . " - "
		StOut := StOut . "@r@n"
	}
Else  {
  for k, v in VetG
	StOut := StOut . v  . ","
  StOut := StOut . "@r@n"
  If (bG<> 0) {
	for k, v in bG
	 StOut := StOut . v  . ","
	StOut := StOut . "@r@n"
  }
  If (cG<>0) {
	for k, v in cG
	  StOut := StOut . v  . ","
   }
}
MsgBox 0, Example, % StOut
}
;**** FIRST EXAMPLE ****
#EscapeChar @   ;  Changes escape character from ' (default) to  @
aG := [2, 3, 1, 5, 4]
bG := ["Butterfly", "Cat","Animal", "Zebra", "Elephant"]
cG := ["B","C", "A","Z","E"]
VetG := QuickSort(aG,False,bG,cG)
PrintMat(VetG,bG,cG)
;**** SECOND EXAMPLE ****
#EscapeChar @   ;  Changes escape character from ' (default) to  @
MatG := [ [2, "Animal", "Z" ],  [3, "Elephant", "E" ],  [1, "Cat", "C" ] ,  [5, "Butterfly", "B" ],  [4, "Zebra", "A" ] ]
MatG := QuickSort(MatG,True,2)
PrintMat(MatG)