Example 1:
	Obj := Filexpro( A_AhkPath,, "System.FileFRN" )
	DriveGet, Serial, Serial, % SubStr(A_AhkPath,1,2)
	MsgBox % Format( "{:08X}-{:016X}", Serial, obj["System.FileFRN"] ) ; File ID
Example 2:
	Obj := Filexpro(A_WinDir . "\Media\chimes.wav",, "System.Audio.ChannelCount"
                                              , "System.Audio.Compression"
                                              , "System.Audio.EncodingBitrate"
                                              , "System.Audio.Format"
                                              , "System.Audio.IsVariableBitRate"
                                              , "System.Audio.PeakValue"
                                              , "System.Audio.SampleRate"
                                              , "System.Audio.SampleSize"
                                              , "System.Audio.StreamName"
                                              , "System.Audio.StreamNumber" )
	MsgBox % obj["System.Audio.EncodingBitrate"]
Example 3:
	Props := ["Path","Copyright","File description","File version"
       ,"Language","Product name","Product version" ]
	Loop, Files, %A_AhkPath%\..\*.*
	{
		  Obj := Filexpro( A_LoopFileLongPath, "Program", Props* )
		  If ( IsObject(Obj)= 0 )
			Continue
		  L := ""
		  For Key, Val in Obj
			L .= Key A_Tab Val "`n"
		  MsgBox, 0, %A_LoopFileName%,  %L%
	  }