t1 := SetTimerEx(1000, "SoundTimer", "*-1")
Sleep, 500
t2 := SetTimerEx(1000, "SoundTimer", "*16")
SoundTimer(param) {
	SoundPlay % param
	ToolTip % param
}
~Esc::  ; Press Esc to
t1.stop()  ; stop the timer,
Sleep 3000  ; wait 3 seconds,
ExitApp  ; then exit.