WindowActive(WinExist("ahk_class Notepad"), true)
gBox % "Center window: " CenterWindow(WinExist("ahk_class Notepad"))
gBox % "Position up on the left: " CenterWindow(WinExist("ahk_class Notepad"), "Top Left")
gBox % "Position up on the right: " CenterWindow(WinExist("ahk_class Notepad"), "Top Right")
gBox % "Position down to the left: " CenterWindow(WinExist("ahk_class Notepad"), "Bottom Left")
gBox % "Position down to the right: " CenterWindow(WinExist("ahk_class Notepad"), "Bottom Right")
gBox % "Position up and center: " CenterWindow(WinExist("ahk_class Notepad"), "Top Center")
gBox % "Position down and center: " CenterWindow(WinExist("ahk_class Notepad"), "Bottom Center")
gBox % "Position to the left and center it: " CenterWindow(WinExist("ahk_class Notepad"), "Left Center")
gBox % "Position to the right and center it: " CenterWindow(WinExist("ahk_class Notepad"), "Right Center")