#persistent
;this is the same as right clicking on the folder and selecting Copy.
if InvokeVerb(A_MyDocuments "\AutoHotkey", "Copy")
	msgbox copied
else
	msgbox not copied
;Opens the property window of Recycle Bin
InvokeVerb("::{645ff040-5081-101b-9f08-00aa002f954e}", "Properties")
path := A_ScriptDir "\Test"
FileCreateDir, % path
;this is the same as right clicking on the folder and selecting Delete.
InvokeVerb(path, "Delete")