#NoEnv
SetBatchLines -1
Lorem =
(Join
Lorem ipsum dolor sit amet consectetuer nulla vitae et felis nonummy. Tempor quis volutpat risus consectetuer Phasellus et quam
 congue nec est. Volutpat Sed Vestibulum ridiculus montes tincidunt ac Pellentesque tempor leo Duis. Amet wisi at pretium et
 faucibus semper at Curabitur pretium at. Et Morbi Nullam tincidunt condimentum at nunc egestas Maecenas leo et. Dolor eros montes
 In Morbi dignissim consequat lacinia amet ut Duis. Et leo eros.
`r`n`r`n
Turpis volutpat sodales feugiat odio quis id netus facilisis ac a. Cursus congue dolor urna urna pellentesque tellus nascetur
 facilisis Sed laoreet. Sem lacus porta id wisi consectetuer id Donec elit at.
`r`n`r`n
Cursus vel non feugiat at Aenean interdum nec tellus Ut Donec. Tortor Aliquam sit dui Vivamus nec dui dapibus metus amet feugiat.
 Ac ridiculus Donec ipsum et et Curabitur leo mollis sagittis vitae. Facilisis Nam nec tellus velit tincidunt dapibus ac adipiscing.
`r`n`r`n
Penatibus In netus tristique egestas tincidunt risus risus malesuada convallis tellus. Facilisi Sed Maecenas ultrices sem auctor
 netus scelerisque accumsan ac egestas. Neque vel elit a enim euismod ac vitae tincidunt porttitor laoreet. Interdum urna nibh at
 nunc aliquet Fusce hac semper lacinia elit. Tellus tortor Ut sapien interdum orci vel enim sed Nam arcu. Nam id justo mauris nunc
 Donec justo id pede Lorem lacinia. Eget parturient turpis Donec consequat tempus lobortis tortor id Suspendisse Nam. Justo amet.
)
EditText := Lorem
Loop, 3
   EditText .= "`r`n`r`n" . Lorem
Gui, Margin, 10, 10
Gui, Font, s10, Arial
Gui, Add, Edit, xm ym w600 r20 hwndHED, %EditText%
Gui, Add, Button, gPrint vBtnPrint Default, Print
GuiControl, Focus, BtnPrint
Gui, Show, , Print Edit
Return
GuiClose:
GuiEscape:
ExitApp
Print:
ControlGetText, Str, , ahk_id %HED% ; it's important to use ControlGetText if you read the text from an Edit control
If (Str) {
   If !PrintStr(Str)
	  MsgBox, 0, PrintStr, An error occurred!`nErrorLevel = %ErrorLevel%
}
Return