#NoEnv
SetBatchlines -1
SetTitleMatchMode, 2
DetectHiddenWindows, On
DetectHiddenText, On
CheckboxObj:= Object()
^LButton::
	MouseGetPos,,, hWin
	WinGetTitle, WinTitle, % "ahk_id " hWin
	checkList:= "the retrieved status for the checkboxes in window:`n""" WinTitle """`n`n"
	CheckboxObj:= WinSaveCheckboxes(hWin)
	If !IsObject(CheckboxObj)
	{
				checkList.=  "This window doesnt contain any checkboxes!"
	}
		else
	{
				For key, val in CheckboxObj
				{
					status:= (val=1) ? "checked      ": "unchecked "
					cText:= SubStr(ControlGetText(key, "ahk_id " . hWin), 1, 20) . "`.`.`."
					RegExMatch(key, "\d+", digits)
					If (StrLen(digits)=1)
						 more:=3
					else
						more:=1
					checkList.= SubStr(key . "   ", 1, StrLen(key)+more) . " is " . status . " (" cText ")`n"
				}
	}
	MsgBox, % checkList
return
Esc::ExitApp
return