Loop, Files, d:\pics\*.png
{
	imageInfo := get_png_image_info(A_LoopFileFullPath)
	if imageInfo
	{
		print_line("""" imageInfo.filename """`n`t"
				 . "width: " imageInfo.width
				 . ", height: " imageInfo.height
				 . ", bpp: " imageInfo.bpp
				 . ", color type: " imageInfo.colortype
				 . ", compression: " imageInfo.compression
				 . ", filter: " imageInfo.filter
				 . ", interlace: " imageInfo.interlace)
	}
}