NoEnv
Gui, Margin, 20, 20
Gui, Add, ListView, w400 r9 Grid HwndHLV1 gSubLV AltSubmit, Column 1|Column 2|Column 3
Loop, 9
LV_Add("", A_Index, A_Index, A_Index)
Loop, 3
LV_ModifyCol(A_Index, "AutoHdr")
Gui, Show, , ListView
Return
GuiCLose:
ExitApp
SubLV:
If (A_GuiEvent = "Normal")
  Row := A_EventInfo
  Column := LV_SubItemHitTest(HLV1)
				  SetTimer, KillToolTip, -1500
Return
KillToolTip:
ToolTip
Return