Example 1

MenuDefinitionVar=
(
File
	New
	Open
	---
	Save
	Save as...
	Exit
Edit
	Undo
	Cut
	Copy
	Paste
	Delete
View
	Full screen
	Zoom
		100
		200
Help
)

CreateDDMenu(MenuDefinitionVar,"MyMenu","MenuSub")
Menu, MyMenu, show
return

MButton::Menu, MyMenu, show

MenuSub:
MsgBox,,, %A_ThisMenu%`n%A_ThisMenuItem%, 1
return

Example 2

MenuDefinitionVar=
(
File
	New
	Open
	---
	Save
	Save as...
	Exit
Edit
	Undo
	Cut
	Copy
	Paste
	Delete
View
	Full screen
	Zoom
		100
		200
Help
)

Clipboard := CreateDDMenu(MenuDefinitionVar,"MyMenu","MenuSub",1)    ; press control + v to paste menu
return