**---Work with context menu---*
	Menu, menuEmpty, Add
	Menu, menuContext$Level2, Add, :menuEmpty
		Menu_AssignBitmap( "menuContext$Level2", 1, "coffee.bmp", true )
	Menu, menuContext$Level2, Add, empty, :menuEmpty
	Menu, menuContext$Level2, Add, world, :menuEmpty
		Menu_AssignBitmap( "menuContext$Level2", 3, "coffee.bmp", true )
	Menu, menuContext, Add, empty 1, :menuEmpty
	Menu, menuContext, Add, empty 2, :menuEmpty
		Menu, menuContext, Check, empty 2
		Menu_AssignBitmap( "menuContext", 2, "coffee.bmp", true, "coffee.bmp", false )
	Menu, menuContext, Add, :menuContext$Level2
	Gui, Show, x50 y50 w400 h200
	return
	GuiContextMenu:
		Menu, menuContext, Show
	return
**---Work with Tray menu:---**
	Menu, menuEmpty, Add
	Menu, Tray, NoStandard
	Menu, Tray, Add, Hello, :menuEmpty
		Menu_AssignBitmap( "Tray", 1, "coffee.bmp", true )
	Menu, Tray, Add
	Menu, Tray, Standard
**---Work with Window menu bar--**
	Menu, menuEmpty, Add
	Menu, menuFile, Add, Hello, :menuEmpty
		Menu_AssignBitmap( "menuFile", 1, "coffee.bmp", false )
	Menu, menuMain, Add, File, :menuFile
	Gui, Menu, menuMain
	Gui, Show, x50 y50 w400 h200