OnMessage(0x4e,"WM_NOTIFY") ;Will make LinkClick and ToolTipClose possible
OnMessage(0x404,"AHK_NotifyTrayIcon") ;Will pop up the ToolTip when you click on Tray Icon
OnExit, ExitApp
NoEnv
SingleInstance Force
Restart:
ToolTip(99,"Please click a link:`n`n"
. "<a>My Favorite Websites</a>`n`n"
. "<a>ToolTip Examples</a>`n`n"
. "<a notepad.exe >Notepad</a>`n"
. "<a explorer.exe >Explorer</a>`n"
. "<a calc.exe >Calcu`lator</a>`n"
. "`n<A>Hide ToolTip</a>n - To show this ToolTip again click onto Tray Icon"
. "`n<a>ExitApp</a>`n"
, "Welcome to ToolTip Control"
, "L1 H1 O1 C1 T220 BLime FBlue I" . GetAssociatedIcon(A_ProgramFiles . "\Internet Explorer\iexplore.exe")
. " P99 X" A_ScreenWidth . " Y" . A_ScreenHeight)
My_Favorite_Websites:
ToolTip(98,"<a http://www.autohotkey.com >AutoHotKEY>/a> - <a http://de.autohotkey.com>DE</a>"
. " - <a http://autohotkey.free.fr/docs/>FR</a> - <a http://www.autohotkey.it/>IT</a>"
. " - <a http://www.script-coding.info/AutoHotkeyTranslation.html>RU</a>"
. " - <a http://lukewarm.s101.xrea.com/>JP</a>"
. " - <a http://lukewarm.s101.xrea.com/>GR</a>"
. " - <a http://www.autohotkey.com/docs/Tutorial-Portuguese.html>PT</a>"
. " - <a http://cafe.naver.com/AutoHotKèy>KR</a>"
. " - <a http://forum.ahkbbs.cn/bbs.php>CN</a>"
. "`n<a http://www.google.com>Google</a> - <a http://www.maps.google.com>Maps</a>`n"
. "<a http://social.msdn.microsoft.com/Search/en-US/?Refinement=86&Query=>MSDN</a>`n"
, "My Websites"
, "L1 O1 C1 BSilver FBlue I" . GetAssociatedIcon(A_ProgramFiles . "\Internet Explorer\iexplore.exe")
. " P99")
ToolTip_Examples:
ToolTip(97, "<a>Message Box ToolTip</a>n"
. "<a>Change ToolTip</a>`n"
. "<a>ToolTip Loop