q:: ;control get font, font get average character width
SendMessage, 0x31, 0, 0, Edit1, ahk_class Notepad ;WM_GETFONT := 0x31
hFont := ErrorLevel
hFont2 := JEE_FontClone(hFont)
MsgBox, % JEE_StrGetDimAvgCharWidth(hFont2)*8
return
;iTabLength
;The size of each tab stop, in units equal to the average character width.
;(a tab character is 8 times wider than the average character width)
;e.g. hFontNew := JEE_FontClone(hFont)